$corDeFundo: #fcebb6; // Fundo areia clara
$corTexto: #3d2817; // Marrom escuro para textos
$corPrimaria: #e67e22; // Laranja queimado
$corSecundaria: #f39c12; // Dourado
$corTerciaria: #8e44ad; // Roxo ameno, para contrastes
$corNeutra: #f7dc6f; // Tons de amarelo claro para neutros
$corEscura: #2c3e50;
