$corDeFundo: #FCEBB6; // Fundo areia clara
$corTexto: #3D2817; // Marrom escuro para textos
$corPrimaria: #E67E22; // Laranja queimado
$corSecundaria: #F39C12; // Dourado
$corTerciaria: #8E44AD; // Roxo ameno, para contrastes
$corNeutra: #F7DC6F; // Tons de amarelo claro para neutros
$corEscura: #2C3E50;